.popup-body {
    height: 500px;
    width:500px;
}

.nav-wrapper  {
    background-color: #9FA8DA  !important;
    font-size: 8px;
    width:100%;
}

.footer-copyright {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #9FA8DA;
    color: white;
    text-align: center;
}


.fc-logo {
    margin-left:1px !important;
    left:30px !important;
    cursor:pointer;
}
