.popup-body {
    height: 500px;
    width:500px;
}

.nav-wrapper  {
    background-color: #9FA8DA  !important;
    font-size: 8px;
    width:100%;
}

.footer-copyright {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #9FA8DA;
    color: white;
    text-align: center;
}


.fc-logo {
    margin-left:1px !important;
    left:30px !important;
    cursor:pointer;
}


.cumulDiv {
    font-size: 16px; color: gray; background-color: lightgrey; margin-bottom: 0px !important; border-bottom:1px solid black;
}

.cumulDivActive {
    font-size: 16px; color: darkred; background-color: lightyellow; margin-bottom: 0px !important; border-bottom:1px solid black;
}


.hideMe{
    display: none;
}
